{{#link-to 'question' board.id}}
<a href="#" {{action 'showBoard'}}><h3>{{board.author}}  : {{board.question}}</h3></a>{{/link-to}}

 {{#if showLink}}
 <div>
   Author:{{board.author}}<br>
   Question:{{board.question}}<br>
   Description:{{board.description}}<br>
   <button {{action 'hide'}}>Hide</button>
 </div><br>
{{else}}

{{/if}}
