{{#if addNewAnswer}}
<h1>Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" size="60"}}
      </div>
      <div class="form-group">
        <label for="response">Response</label>
        {{input value=response id="content" size="60"}}
      </div>
      <button {{action 'saveAnswer'}}>Answer</button>
    </form>
  </div>
  {{else}}
  <button{{action 'giveAnswer'}}>The Answer Is</button>
{{/if}}
