<div>
  <h1>Messages</h1>
  <p>This is a message board where a user gets to ask questions and receive answers from the various authors.</p>
  <div>
    <ol>
      {{#each model.questions as |board|}}
        {{boards-tile board=board}} {{question-popularity board}} <!--this second part is a helper-->
      {{/each}}
    </ol>

    {{new-query saveQuery1="saveQuery2"}}

  </div>
</div>

<h3>Answers</h3>
 <!--displaying my answers on the index to check if they work-->
  <div>
    <ol>
        {{#each model.answers  as |answer|}}
        <li>{{answer.author}}: {{answer.response}}</li>
        {{/each}}
  </ol>
  </div>

  <div class="well">
  <h3>Favorite Questions</h3>
    {{question-list}}
  </div>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
